body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #e7e7e7;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

#search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#search-label {
    margin-bottom: 5px;
}

#city-input {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

#search-button {
    padding: 10px 15px;
    cursor: pointer;
}

.weather-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#search-history {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recent-search {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

#current-weather {
    text-align: center;
}

#forecast-weather {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.forecast-day {
    width: calc(20% - 20px); 
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px 10px 0;
}
