body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background: linear-gradient(to bottom, #007bff, #007bff);
}

header {
    background-color: #58561e;
    color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

#search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#search-label, #city-input, #search-button, #search-history {
    width: 100%;
}

#city-input, #search-button {
    padding: 10px;
    margin-bottom: 10px;
}

#search-button {
    cursor: pointer;
}

#search-history {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

#search-history button {
    padding: 15px;
    font-size: 1em; 
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

#current-weather, #forecast-section {
    margin-top: 20px;  
}

#forecast-section {
    text-align: center;
    margin-top: 20px;
}

#forecast-weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
}

.forecast-day {
    flex-basis: 18%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.weather-box {
    margin: 20px auto; 
    max-width: 600px; 
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

@media (max-width: 768px) {
    #search-section {
        flex-direction: column;
    }

    #search-history {
        justify-content: center;
    }

    #search-history button {
        font-size: 0.9em; 
    }

    .forecast-day {
        flex-basis: 100%;  o
        margin: 10px 0; 
    }
}
